.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    column-gap: 10px;
    row-gap: 1em;
}

.box1 {
    grid-column-start: 1;
    grid-column-end: 4;
}
          /* grid-column
            :1/4 
    grid-row-start: 1;
    grid-row-end: 3;
          /* grid-row
            :1/3 
}

.box2 {
    grid-column-start: 1;
          /* grid-column
            :1
    grid-row-start: 3;
    grid-row-end: 5;
          /* grid-row
            :3/5 
}*/