.wrapper {
    display: grid; /* Organizado en bloques */
    grid-template-columns: 1fr 1fr 1fr; /*Define el ancho de las columnas*/
    grid-template-rows: auto; /*Define la altura de las filas*/
    gap: 15px; /*Espacio entre filas y columnas*/
    background-color: lightgray;
    /*grid-template-areas: "header header header"
                         "main main sidebar"
                         "footer footer footer";*/ /*Define las áreas de la cuadrícula*/
    border-color: brown;
    border-style: solid;
    border-width: 2px;
    column-gap: 10px;
    row-gap: 20px;
    padding: 10px;
    background-color: lightpink;
}

.contiene {
    background-color: lightblue;
    border-color: blue;
    border-radius: 10%;
    border-style: dashed;
    border-width: 2px;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    grid-column-start: 3; /* Ocupa dos columnas */
}